#new-post-container{
    display: flex;
    justify-content: center;
}

.form-container-post{
    margin-top: 5px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    width: 500px;
    height: 150px;
}
.form-container-post form{
    height: 100%;
}

.input-post{
    width: 100%;
    height: 50%;
    border: none;
    outline: none;
    resize: none;
}
.input-post:focus{
    border: 1px solid #2196f3;
    box-shadow: 0 0 2px 2px #bbdefb;
}

.button-post-container{
    display: flex;
    justify-content: flex-end;
}